<nav class="col-md-3 d-none d-md-block bg-light sidebar">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/connections']">Connections</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/events']">Events</a>
        </li>
      </ul>
    </div>
</nav>
